body {
	background-color: white;
	margin: 0;
}
.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    text-align: center;
    background-color: navy;
    color: white;
    font-size: 36px;
}

.sidenav a {
    padding-bottom: 30px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: white;
    color: black;
}
header {
	border-bottom: 3px solid grey;
	margin-left: 120px;
	margin-right: 20px;
	width: calc(100% - 140px);
	height:60px;
}

main {
    margin-left: 120px;
}
footer {
	border-top: 3px solid grey;
	margin-left: 120px;
	margin-right: 20px;
   	position:relative;
   	bottom:0;
   	width: calc(100% - 140px);
   	height:60px;   /* Height of the footer */
}
h1 {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}
a {
    font-family: Tahoma, Geneva, sans-serif;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */;
    margin-left: 100px;
    width: calc(100% - 100px);
    height: 100%; /* Full height */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: scroll;
}
.inner {
  margin: 0 auto;
  margin-top: 100px;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
} 
.datagrid {
    font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
    background: #fff; 
    overflow: hidden; 
}
.datagrid table td, .datagrid table th { 
    padding: 10px 10px; 
    width: 5%;
}.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, navy), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; font-size: 13px;border-bottom: 1px solid #E1EEF4;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

